
.messages__wrapper .messages--error {
    display: none;
}
.guest-book-form {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    padding: 20px;
   .form-wrapper {
        width: 49%;
    }
    .error-meessage {
        color: red;
        margin-bottom: 5px;

    }
    .form-item-message {
        margin-bottom: 5px;
    }
    .messages--error {
        background: transparent;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
    }
    .messages {
        &:last-child , &:first-child {
            margin: 5px 0;
        }
    }
    textarea {
        height: 155px;
        resize: none;
    }
    .form-submit:last-child {
        margin-left: auto;
    }
}


